/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.env.example
.env.*
config/*.php.*
crontab.log
**/logs  
**.log
*.log
bootstrap/cache
bootstrap/cache/**.log
bootstrap/cache/*.php
bootstrap/**.log
storage/**.log  
storage/*.log  
worker.log
